.about-info {
  position: inherit;

  .featured-image {
    margin-left: -100px;
  }

  img {
    height: 60px;
  }

  .about-more-item {
    font-size: 1.13em;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $main-color;
    margin-bottom: 60px;
    display: block;

    span {
      display: block;
      line-height: 25px;
      margin-top: 17px;
    }

    &:hover {
      color: $gold;
    }
  }
}
