@import "./mixins.scss";

.arrows{
	@include flex-a-center;
	height: 56px;
	width: 111px;

	> button {
		@include transparent-button;
		width: 56px;
		height: 100%;
		border-radius: 50%;
		transition: background .4s;

		@include flex-centered;

		&:hover{
			background: $gray;
			svg{
				path{
					stroke: #fff;
				}
			}
		}

		&:first-child{
			width: 42px;
			height: 42px;
			background: rgba(50, 70, 85, .08);
			margin-right: 15px;

			&:hover{
				background: $gray;
			}
		}

		&:last-child{
			border: 2px solid $gray;
		}
	}
}

.month-arrows{
	@include flex-a-center;
	height: 56px;

	> .arrow-div {
		@include transparent-button;
		width: 56px;
		height: 100%;
		border-radius: 50%;
		transition: background .4s;

		@include flex-centered;

		&:hover{
			background: $gray;
			svg{
				path{
					stroke: #fff;
				}
			}
		}

		&:first-child{
			width: 42px;
			height: 42px;
			margin-right: 15px;

			&:hover{
				background: $gray;
			}
		}

		&:last-child{
			width: 42px;
			height: 42px;
			margin-right: 15px;

			&:hover{
				background: $gray;
			}
		}
	}
}