.attachment-item{
	cursor: pointer;
	width: 300px;
	height:221px;
	margin-right: 19px;
	border: 1px solid $main-color;
	border-radius: 1.5em;
	
	.loader{
		margin: auto;
	}

	.thumbnail {

		text-align: center;
		p {
			font-weight: 600;
			font-size: 1.5em;
			color: $main-color;
		}
	}
}