.attachment-item{
	cursor: pointer;
	width: 200px;
	height:120px;
	margin-right: 19px;
	border: 3px solid $main-color;
	border-radius: 1em;
	
	.loader{
		margin: auto;
	}

	.thumbnail {

		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;

		p {
			font-weight: 500;
			font-size: 1em;
			color: $main-color;
		}
		
	}
}