@import "./mixins.scss";

.breadcrumbs{

	padding: 12px;
	font-weight: 500;
	
	&__items {
		@include flex-a-center;
	}

	div, a{ 
		color: $main-color+55;
		text-decoration: none;	
	}

	a::after{
		content: ">";
		display: inline-block;
		margin: 0 12px;
	}
}