@import "./mixins.scss";

.carousel{
	padding: 20px 0;
	
	.arrows{
		margin-bottom: 43px;
		margin-right: 40px;
		button {
			&:focus {
				outline: none;
			}
		}
	}	


	&.arrows-on-right{
		.carousel__body{
			display: flex;
		}
	}
}

.carousel__head{
	// @include flex-a-center;
	margin-bottom: 35px;
	margin-top: 35px;

	.section-heading{
		margin-bottom: 0;
		h3 {
			font-size: 2.4em;
			font-family: $lora;
			text-transform: uppercase;
			font-weight: 600;
			color: white;
			margin-top: 15px;
		  }
	}
}

.carousel__arrows-placeholder{
	height: 56px;
	margin-bottom: 43px;
}


.carousel__overflow{
	overflow: hidden;
}

.carousel__wrap {
	position: relative;
	width: 10000px;
	display: flex;
	padding-left: 10px !important;
}

.carousel__day_wrap {
	position: relative;
	width: auto;
	display: flex;
	padding-left: 10px !important;
}
@media (max-width: 600px){
	.carousel__wrap {
		line-height: 1 !important;
	}
	.carousel__arrows-placeholder{
		display: none;
	}

	.carousel{
		.day-arrow {
			display: flex !important;
		}
		.arrows{
			display: none;
		}
	}

	.carousel__head{
		flex-wrap: wrap;
		> div{
			width: 100%;
		}

		.link-to-all{
			margin-left: 0;
			margin-top: 20px;
		}
	}
}