.description-container {
  .description-harvest-more {
    padding-top: 3em;
  }
  
  .description-more-item {
    font-size: 1.13em;
    font-weight: bold;
    text-decoration: none;
    color: $main-color;
    margin-bottom: 60px;
    display: block;
    padding-right: 5em;
  
    span {
      display: block;
      line-height: 25px;
      margin-top: 17px;
    }
  
    &:hover {
      color: $gold;
    }
  }
  
  .research-info-description {
    color: $main-color;
    padding-left: 40px;
    padding-right: 130px;
    font-family: $lora;
    line-height: 2;
    font-weight: 600;
    h4,h3 {
      // font-size: 2.94em;
      font-weight: 700;
      margin-bottom: 50px;
      margin-left: -40px;
      font-family: $lora;
      color: $main-color;
    }
  }
  .research-harvest-more {
    padding-top: 3em;
    padding-left: 40px;
  }
  .research-img-container {
    padding-top: 3em;
  }
  .monuments-info {
    background-color: $main-color;
    padding: 10em 3em;
    .monuments-img-container {
      display: inline-flex;
    }
  
    .monument-title {
      font-family: $lora;
      color: $gold;
      font-size: 1.3em;
      margin: 1.5em 0px;
    }
  
    .monument-decription {
      font-family: $lora;
      color: white;
      font-size: 1.5em;
      font-weight: 500;
    }
    
    .monument_link {
      padding-left: 10em;
    }

    .monuments-main-title {
      color: white;
    }

    .monument-link {
      
        border: 2px solid $gold;
        width: 260px;
        padding: 20px;
        font-size: 1em;
        font-weight: 700;
        display: inline-block;
        background: $gold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        &:hover {
          background: transparent;
          color: #fff;
          border-color: #fff;
        }
    }  
  }
  .handicraft-info {
    .handicraft-description {
      color: $main-color;
      padding-left: 40px;
      padding-right: 130px;
      font-family: $lora;
      line-height: 2;
      font-weight: 600;
    }
    .btn-link {
      margin-left: 40px;
    }
    .img-handicraft {
      height: 100% !important;
      width: auto !important;
      margin-bottom: 20px;
    }
    .handicraft-img-cover {
      text-align: center;
      height: 150px !important;
      max-width: 100%;
    }
    .handicraft-decription {
      font-family: $lora;
      font-size: 1.4em;
      font-weight: 700;
      color: $main-color;

    }
  }
  .peoriodics-info {
    padding: 10em 0em;
    .peoriodics-img-container {
      display: inline-flex;
    }
  
    .peoriodics-title {
      font-family: $lora;
      color: $gold;
      font-size: 1.3em;
      margin: 1.5em 0px;
    }
  
    .peoriodics-decription {
      font-family: $lora;
      font-size: 1em;
      font-weight: 600;
      color: $main-color;
      line-height: 2;
      padding-left: 40px;
      padding-right: 130px;
    }
    
    .peoriodics_link {
      padding-left: 10em;
    }
    .peoriodics-link {
      margin-left: 40px;
    }  
  }
  .metallurgy-info {
    .metallurgy-description {
      color: $main-color;
      padding-left: 40px;
      padding-right: 130px;
      font-family: $lora;
      line-height: 2;
      font-weight: 600;
    }
    .btn-link {
      margin-left: 40px;
    }
    .img-metallurgy {
      height: 150px !important;
      width: 150px !important;
      border: 1px solid $gold;
      background-color: $gold;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      font-family: $lora;
      font-size: 2.2em;
      color: $main-color;
      font-weight: 800;  
      text-align: center;
    }
    .metallurgy-decription {
      font-family: $lora;
      font-size: 1.4em;
      font-weight: 700;
      color: $main-color;
      width: 150px;

    }
  }
}
