.main-footer {
  background-color: rgba(#324655, 0.08);
  padding: 70px 0;

  .text-logo {
    font-size: 2.06em;
    font-family: $lora;
    color: $main-color;
    font-weight: 700;
    text-decoration: none;
    display: block;
  }

  p {
    font-size: 0.88em;
    line-height: 18px;
    color: $main-color;

    strong {
      text-transform: uppercase;
    }
  }

  .contact-details {
    font-size: 0.88em;
    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  .working-hours {
    background-color: rgba(#324655, 0.52);

    .days-column,
    .hours-column {
      background-color: transparent;
    }
  }

  nav {
    ul {
      li {
        margin: 12px 0;
        float: left;
        width: 50%;
        a {
          color: $main-color;
          font-size: 0.88em;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
        }
      }
    }
  }
}
