
.loop-search-post{
	width: 370px;
	margin-right: 14px;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	&:hover{
		border-bottom: 1px solid #707070;
		.loop-search-post__thumbnail::before{
			opacity: .78;
		}
	}
}

.loop-search-post__thumbnail{
	height: 221px;
	display: flex;

	&::before{
		opacity: 0;
		transition: opacity .5s;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #000);
	}
}

.loop-search-post__category{
	letter-spacing: 0;
	font-size: 1.5em;
	font-family: $lora;
	margin-bottom: 12px;
	color: $gold;
}

.loop-search-post__content{
	padding: 26px 0px;
	color: $gray;
}

.loop-search-post__desc {
	font-size: 0.875em;
	font-family: $lora;
}

.loop-search-post__title{
	letter-spacing: 0;
	margin-bottom: 12px;
	font-size: 1.5em;
	font-family: $lora;
	font-weight: 600;
	text-transform: capitalize;
}

.loop-search-post__date{
	color: $light_gray;
	margin-bottom: 12px;
}


@media (max-width: 430px){
	.loop-search-post{
		width: 254px;

		&__thumbnail{
			//height: 136px;
		}

		&__content{
			padding: 13px 10px;
		}
	}

}