.news-single-section {
  .news-single-categories-label {
    margin-top: 5px;
    font-size: 1.3em;
    font-family: $open-sans;
    font-weight: 500;
    margin-bottom: 10px;
    color: $gold;
  }
  .news-single-categories-title {
    font-size: 3em;
    font-family: $lora;
    font-weight: 700;
    margin-bottom: 40px;
    color: $main-color;
    line-height: 1;
  }
  .news-single-body {
    font-family: $lora;
    color: $main-color;
    word-spacing: 0;
    line-height: 1.5;
  }
}
