@import "./mixins.scss";

.main-header-section .pictures-slider{
	flex: auto;
}

.pictures-slider{
	position: relative;
	z-index: 0;
	.thumbnail {

		text-align: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;

		p {
			font-weight: 500;
			font-size: 1em;
			color: $main-color;
		}
		
	}
	.loader{
		height: 100%;
	}

	&:hover{
		.pictures-slider__controls{
			opacity: 1;
		}
	}
}

.pictures-slider__slide{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;

	transition: opacity .6s;

	&.active{
		z-index: 20;
		opacity: 1;
	}
}

.pictures-slider__slide_top_link{
	position: absolute;
	top: 60px;
	color: #fff;
	@include flex-a-center;

	em{
		width: 60px;
		height: 60px;
		background: rgba(117, 167, 67, .9);

		@include flex-centered;
		svg{
			max-width: 40px;

			&.fill{
				path{
					fill: #fff;
				}
			}
		}
	}

	em + span {
		margin-left: 20px;
	}

	span{
		text-transform: uppercase;
		font-size: 1.24em;
		font-weight: bold;
		max-width: 150px;
	}
}

.pictures-slider__slide_content{
	color: #fff;
	padding-top: 150px !important;

	.button-link{
		height: 62px;
		width: 398px;
	}
}

.pictures-slider__slide_title{
	font-weight: bold;
	font-size: 3.42em;
	line-height: 1.1;
	margin-bottom: 60px;
    text-shadow: black 1px 1px 10px;
}

.pictures-slider__slide_desc{
	margin-bottom: 24px;
	max-width: 500px;
    text-shadow: black 2px 2px 2px;
}

.pictures-slider__controls{
	@include flex-centered;
	transition: opacity .3s;
	opacity: 0;

	position: absolute;
	z-index: 25;
	
	width: 200px;
	height: 40px;
	bottom: 30px;

	margin-left: -100px;
	left: 50%;

	button {
		@include transparent-button-no-outline;
		transition: background .6s;
		width: 40px;
		min-width: 40px;
		height: 40px;
		border-radius: 50%;
		margin: 0 15px;
		background: rgba(0, 0, 0, .6);

		@include flex-centered;

		svg{
			&.stroke{
				path{
					stroke: #fff;
				}
			}

			&.fill{
				path{
					fill: #fff;
				}
			}
		}
	}
}

.pictures-slider__circles{
	@include flex-a-center;
	position: absolute;
	z-index: 25;
	bottom: 30px;
	right: 50px;

	button {
		@include transparent-button-no-outline;
		transition: background .6s;
		width: 20px;
		min-width: 20px;
		height: 20px;
		border-radius: 50%;
		margin: 0 10px;
		background: #fff;
		box-shadow: 0 0 6px 2px rgba(0, 0, 0, .5);

		&.active{
			background: $green;
		}
	}
}

@media (max-width: 767px){
	.pictures-slider__slide_title{
		font-size: 2.14em;
	}
}


@media (max-width: 435px){
	.pictures-slider__slide_content .button-link{
		width: 100%;
	}
}