.post-container {
  p {
    color: $main-color;
    font-family: $lora;
  }
  .main-home-desc {
    color: $main-color;
    font-family: $lora;
    font-size: 0.88em;
    line-height: 1.5;
  }
  .post-home-section {
    align-items: flex-end;
  }
}

.main-home-desc {
  .image-post {
    border: 2px solid silver;
    padding: 6px;
    cursor: pointer;
  }
  .image-outer-post {
    padding: 9px;
    background-color: #eee;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
  }
  .image-post-desc {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}