.post-container {
  p {
    color: $main-color;
    font-family: $lora;
  }
  .main-home-desc {
    color: $main-color;
    font-family: $lora;
    font-size: 0.88em;
    line-height: 2;
  }
  .padding-title {
    margin-left: -1.5em;
  }
  .post-home-section {
    display: inline-flex;
    align-items: flex-end;
  }
}
