.section {
    .chronicle-desc {
        color: $main-color;
        line-height: 2;
        font-family: $open-sans;
        font-weight: 500;
    }
    &.bg-primary {
        background-color: $main-color;
        color: #fff;

        h3 {
            color: #f9fdff;
        }

        .section-switcher {
            button {
                border-color: #f9fdff;
                color: #fff;

                &:first-child {
                    &:after {
                        background-color: #f9fdff;
                    }
                }
            }
        }
        .list-item {
            color: #fff;

            a,
            h3 {
                color: #f9fdff;
            }
        }
    }

    .section-switcher {
        &.in-col {
            display: flex;
        }

        button {
            color: $main-color;
            padding: 15px 30px;
            font-weight: 500;
            letter-spacing: 0.5px;
            font-size: 1.31em;
            //width: 50%;
            background: transparent;
            border: 0;
            border-bottom: 1px solid $main-color;
            position: relative;
            cursor: pointer;

            &:focus {
                outline: 0;
            }

            &:hover {
                border-color: $gold;
                color: $gold;
            }

            &:first-child {
                &:after {
                    display: block;
                    width: 1px;
                    height: 20px;
                    background-color: $main-color;
                    content: " ";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0.7;
                }
            }

            &.active {
                border-color: $gold;
                color: $gold;

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: $gold;
                    display: block;
                    content: " ";
                    left: 0;
                    bottom: -3px;
                }

                svg {
                    position: absolute;
                    bottom: -17px;
                    height: 28px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .img-style {
        width: 100%;
    }
    .list-item {
        margin-bottom: 100px !important;
        a {
            text-decoration: none;
            color: $main-color;
        }

        h3 {
            font-size: 1.31em;
            line-height: 25px;
            text-transform: uppercase;
            font-family: $lora;
            color: $main-color;
        }

        &-thumb {
            height: 200px;
            overflow: hidden;
            position: relative;

            .over-info {
                position: absolute;
                bottom: 10px;
                left: 10px;
                z-index: 10;
                font-size: 0.88em;
                text-transform: uppercase;
                font-weight: 400;
                color: #fff;
                letter-spacing: 2.8px;
            }
        }

        p {
            font-size: 1.31em;
        }

        &-time-info {
            border: 1px solid #3d5567;
            font-size: 0.88em;
            width: 80%;
            .hour-info {
                font-size: 1em;
            }

            .date-details {
                display: inline-flex;
                align-items: center;
                width: 100%;
                .date-prefix {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .day {
                    font-size: 1.13em;
                }
                &:not(:last-child) {
                    padding-bottom: 32px;
                    position: relative;

                    &:after {
                        left: 0;
                        bottom: 16px;
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        content: "";
                        display: block;
                        background-color: #3d5567;
                    }
                }
            }

            .row:not(:last-child) {
                padding-bottom: 32px;
                position: relative;

                &:after {
                    left: 16px;
                    bottom: 16px;
                    position: absolute;
                    width: calc(100% - 32px);
                    height: 1px;
                    content: "";
                    display: block;
                    background-color: #3d5567;
                }
            }

            // .row {
            //   .col {
            //     &:last-child {
            //       border-left: 1px solid #3d5567;
            //     }
            //   }
            // }
            .time {
                margin-left: auto;
                border-left: 1px solid #3d5567;
                padding-left: 10px;
                margin-right: 15px;
            }
        }

        &.news {
            p {
                font-size: 0.88em;
                line-height: 21px;
            }
        }
    }
}

.color-gold {
    color: $gold;
}

.single-item-page {
    h1 {
        font-family: $lora;
        // font-size: 2.94em;
        font-weight: 700;
        line-height: 54px;
        color: $main-color;
    }

    .page-text {
        font-size: 0.88em;
        line-height: 25px;

        p {
            line-height: 25px;
            font-size: 0.88em;
        }
    }

    .post-type {
        color: $gold;
        font-size: 1.31em;
        line-height: 38px;
    }
}
.carousel__slide--visible {
    padding-bottom: 80% !important;
}

.carousel-education {
    .heading {
        color: white !important;
    }
}
.carousel-exhibition {
    .heading {
        color: white !important;
    }
}
.loop-event-post__title_education.heading {
    color: $gold !important;
}

.carousel-exhibition {
    .section-switcher {
        button {
            color: white !important;
            border-bottom: 1px solid white;
            &:after {
                background-color: white !important;
            }
        }
        button.active {
            color: $gold !important;
        }
    }
}
.btn-transparent {
    background-color: transparent !important;
    color: $gold !important;
    border: 1px solid $gold !important;
    &:hover {
        background-color: $gold !important;
        color: white !important;
        border: 1px solid $gold !important;
    }
}
.carousel-events {
    h3 {
        color: $main-color !important;
    }
}
@media (max-width: 1200px) {
    .see-more {
        display: none !important;
    }
}
@media (max-width: 1000px) {
    .loop-event-post__title.heading {
        font-size: 1em !important;
    }
    .main-menu__title {
        padding: 15px 15px !important;
    }
    .day_main {
        font-size: 0.8em !important;
        h3 {
            font-size: 100% !important;
        }
    }
    .loop-news-post__title.heading {
        font-size: 1em !important;
        line-height: 1 !important;
    }
    .homepage-container > .carousel {
        padding-left: 0px !important;
    }
    .homepage-container > .carousel-education {
        padding-left: 40px !important;
    }
    .homepage-container > .carousel-exhibition {
        padding-left: 40px !important;
    }
    .description-container > .carousel {
        padding-left: 0px !important;
    }
    .main-menu__items {
        line-height: 2 !important;
        a {
            font-size: 0.7em !important;
        }
    }
    .event-dates-education {
        flex-wrap: nowrap !important;
    }
    .loop-event-post__title_education.heading {
        font-size: 1.2em !important;
    }
    .loop-event-post__label_education.heading {
        font-size: 1.3em !important;
    }
    .metallurgy-img-container {
        div {
            font-size: 1em !important;
        }
    }
    .img-metallurgy {
        width: 100px !important;
        height: 100px !important;
    }
    .btn-link {
        margin-left: 0px !important;
    }
    .handicraft-img-container {
        padding-top: 20px !important;
    }
    .handicraft-decription {
        padding-right: 0px !important;
        padding-left: 0px !important;
        font-size: 1em !important;

    }
    .handicraft-description {
        padding-left: 0em !important;
        padding-right: 0px !important;
    }
    .handicraft-img-cover {
        margin-bottom: 20px !important;
        text-align: left !important;
    }

    .monument-title {
        font-size: 1.2em !important;
        line-height: 1 !important;
    }
    .monument-decription {
        font-size: 1.3em !important;
        line-height: 1 !important;
        margin-bottom: 20px !important;
    }
    div {
        line-height: 1.5 !important;
    }
    .research-info-description {
        padding-right: 0px !important;
        padding-left: 0px !important;
        font-size: 1em !important;
    }
    .working-hours {
        .day {
            line-height: 1.5em !important;
            font-size: 0.7em !important;
        }
    }
    small {
        font-size: 1em !important;
    }
    h3 {
        font-size: 2.4em !important;
    }
    button {
        font-size: 1.1em !important;
    }
    p {
        line-height: 1.5em !important;
        font-size: 0.7em !important;
    }
    .btn, .btn-primary{
        padding: 20px 25px !important;
        font-size: 0.8em !important;
    }
    
    span {
        line-height: 1.5em !important;
        font-size: 0.7em !important;
    }
    .price-list-detail,
    .object-info-description {
        line-height: 1.5em !important;
        font-size: 0.7em !important;
    }
    .hero-copy {

        &-line {
            font-size: 1.5em !important;

            &.__big {
                font-size: 3.5em !important;
                line-height: 1 !important;
            }
        }
    }
    .news-single-section .news-single-categories-title {
        font-size: 2em !important;
        line-height: 1 !important;
        margin-bottom: 20px !important;
    }
    .news-single-section .news-single-categories-label {
        font-size: 1.5em !important;
        line-height: 1 !important;
    }
    .heading {
        font-size: 2.5em !important;
    }
    .download-description {
        font-size: 1em !important;
    }
    .social-media {
        line-height: 1 !important;
        padding-bottom: 5px !important;
    }
}

@media (max-width: 750px) {
    .metallurgy-img-cover {
        padding-top: 20px !important;
    }
    .peoriodics_link {
        padding-left: 0px !important;
    }
    .monument_link {
        padding-left: 0px !important;
        margin-top: 10px !important;
    }
    .expanded-gallery__items {
        width: 100% !important;
    }
    .social-medias {
        height: 480px !important;
        span {
            font-size: 1.2em !important;
        }
    }
}
@media (max-width: 500px) {
    .helper {
        font-size: 50% !important;
        padding: 0px 18px !important;
        &-text-size {
            font-size: 30% !important;
        }
    }
    .carousel {
        padding-left: 40px !important;
    }
    .loop-event-post__title_education.heading {
        font-size: 1.2em !important;
    }
    .loop-event-post__label_education.heading {
        font-size: 1.3em !important;
    }
    .MuiPaginationItem-sizeLarge {
        min-width: 32px !important;
        height: 32px !important;
    }
    .handicraft-decription {
        padding-right: 0px !important;
        padding-left: 0px !important;
        font-size: 0.8em !important;

    }
    .metallurgy-img-container {
        div {
            font-size: 0.8em !important;
        }
    }
    div {
        line-height: 1 !important;
    }
    small {
        font-size: 0.7em !important;
    }
    h3 {
        font-size: 1.6em !important;
    }
    button {
        font-size: 0.7em !important;
    }
    .btn, .btn-primary {
        padding: 15px 20px !important;
        font-size: 0.6em !important;
    }
    p {
        font-size: 0.6em !important;
    }
    .working-hours  {
        .day {
            font-size: 0.6em !important;
        }
    }
    .price-list-detail,
    .object-info-description {
        font-size: 0.6em !important;
    }
    .hero-copy-cta {
        width: 250px !important;
    }
    .hero-copy {
        &-line {
            font-size: 1em !important;
            &.__big {
                font-size: 2.5em !important;
                line-height: 1 !important;
            }
        }
    }
    .news-single-section .news-single-categories-title {
        font-size: 1.5em !important;
        line-height: 1 !important;
    }
    .news-single-categories-label {
        font-size: 1em !important;
        line-height: 1 !important;
    }
    .heading {
        font-size: 2em !important;
    }
    .download-description {
        font-size: 1em !important;
    }
    .social-medias {
        height: 380px !important;
        span {
            font-size: 1.2em !important;
        }
    }
    .month-button-container {
        padding-left: 0px !important;
    }
    .day-button-container {
        padding-left: 0px !important;
    }
}