// variables and other stuff
@import "./main/reset";
@import "./grid/grid.min.scss";
@import "./main/colors";
@import "./main/typography";

// const ui elements
@import "./main/main";
@import "./main/section";
@import "./ui/header";
@import "./ui/footer";
@import "./ui/hero.scss";
@import "./ui/object-info";
@import "./ui/about";
@import "./ui/promoted-list";

@import "./general/loader.scss";