@import "../main/colors.scss";
@import "../main/layout.scss";

.main-footer {
  width: 100%;
  background-color: rgba(#324655, 0.08);
  padding: 70px 50px;
  font-family: 'Lora,serif';
  display: inline-flex;
  .text-logo {
    font-size: 33px;
    color: $main-color;
    font-weight: 700;
    text-decoration: none;
    display: block;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: $main-color;

    strong {
      text-transform: uppercase;
    }
  }
  .footer-address {
     width: 20%;
  }
  .contact-details {
    width: 50%;
    font-size: 14px;
    display: grid;
    .row {
      display: inline-flex;
    }
    .col {
      display: grid;
    }
    .col-1 {
      margin-right: 5px;
    }
    a {
      color: $main-color;
      text-decoration: none;
    }
  }

  .working-hours {
    background-color: rgba(#324655, 0.52);
    align-items: flex-end;
    color: #fff;
    display: flex;
    .day {
      margin-bottom: 16px;
      font-weight: 400;
    }
    .days-column {
      padding: 50px 40px 40px 50px;
      background-color: transparent;
    }
    .hours-column {
      background-color: transparent;
      padding: 50px 56px 40px;
      .day {
        font-weight: 700;
      }
    }
    svg {
      position: relative;
      top: -30px;
    }

  }
  .contact-other {
    width: 30%;
    nav {
      ul {
        li {
          margin: 12px 0;
          float: left;
          width: 50%;
          a {
            color: $main-color;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
